# Copyright 2015 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extensions = buildout.packagename
develop = .
parts =
    python
    test
    omelette


[python]
recipe = zc.recipe.egg
eggs = ${buildout:package-name}
interpreter = python
dependent-scripts = true


[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name}
defaults = ['--auto-color', '--auto-progress']


[omelette]
recipe = collective.recipe.omelette
eggs =
    pyramid
    ${buildout:package-name}
